div nav.navbar.navbar-dark.navbar-expand-md.bg-primary.navigation-clean{
    background-color: #131200 !important;
    color: #ffffff;
}

div.footer-dark{
    background-color: #131200 !important;
    color: #fff;
}