/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2019, 1:09:55 PM
    Author     : Anon
*/

div nav.navbar.navbar-dark.navbar-expand-md.bg-primary.navigation-clean{
    background-color: #131200 !important;
    color: #ffffff;
}

div.footer-dark{
    background-color: #131200 !important;
    color: #fff;
}